@using System.Web
@using BlazorNews.Client.Model
@using BlazorNews.Shared
@page "/"
@inject HttpClient Http
@inject Repositories.TopicsRepository TopicsRepo

@foreach (var article in articles) {
	<div class="media" style="margin-bottom: 10px">
		@if (!string.IsNullOrEmpty((article.UrlToImage))) {
			<a class="mr-3 col-sm-2" href="@article.Url">
				<img class="col-sm-12" src="@article.UrlToImage" alt="Image">
			</a>
		}
		<div class="media-body">
			<h5 class="mt-0">
				<a href="@article.Url">
					@article.Title
				</a>
			</h5>
			@article.Description
		</div>
	</div>
}

@functions {

	Article[] articles = new Article[0];
	Config config;

	protected override async Task OnInitAsync() {

		config = await Http.GetJsonAsync<Config>("/api/config");
		var topics = TopicsRepo.GetTopics();

		var topicsQuery = string.Join(" OR ", topics.Select(topic => HttpUtility.UrlEncode(topic)));

		var result = await Http.GetJsonAsync<NewsResponse>("https://newsapi.org/v2/everything?apiKey=" + config.NewsApiKey + "&q=" + topicsQuery);
		articles = result?.Articles;

	}

}
